body {
  background: #f9f9f9;
  margin: auto;
  font-family: "Inter", sans-serif;
}

.wrapper {
  display: flex;
  gap: 20px;
}

.sidebar {
  background: #dee5e5;
  padding: 10px;
  width: 250px;
  height: 97vh;
}

h2 {
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #00b9b1;
  margin-bottom: 100px;
}

ul {
  padding: 0;
  margin: 20px;
}

li {
  list-style: none;
  margin-bottom: 10px;
}

a.game-list {
  border: 1px solid #00b9b1;
  border-radius: 10px;
  text-decoration: none;
  font-size: 15px;
  padding: 15px 15px;
  color: #00b9b1;
  display: flex;
  transition: 0.3s ease;
}

a.game-list:hover,
a.game-list.active {
  background: #00b9b1;
  color: white;
}

a.game-list:focus {
  outline: 4px solid #00b9b170;
  transition: 0.3s ease;
}

.container {
  width: 800px;
  margin: auto;
  text-align: center;
}

h3 {
  color: #1cb7b0;
  font-size: 3em;
  letter-spacing: 0.1em;
  margin-top: 0px;
  margin-bottom: 10px;
}

h4 {
  color: #1cb7b0;
  font-size: 1em;
  letter-spacing: 0.1em;
  margin-top: 0px;
  margin-bottom: 40px;
}

.kartu {
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: center;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 1s;
  perspective: 100px;
}

.belakang {
  font-size: 1.5em;
  background: #1cb7b0;
  color: white;
  transform: rotateY(180deg);
}

.depan {
  background: white;
  color: #d2d2d2;
  font-size: 0.9em;
  letter-spacing: 2px;
  transition: 0.3s;
}

.depan:hover {
  box-shadow: 0px 0px 31px 0 #e1f3f2;
  transition: 0.3s;
}

.depan,
.belakang {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  backface-visibility: hidden;
  border-radius: 10px;
}

.buka,
.betul {
  transform: rotateY(180deg);
}

div#game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* For Mobile */
@media screen and (max-width: 540px) {
  .sidebar {
    width: 200px;
  }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
  .sidebar {
    width: 600px;
  }
}
